@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "ClashDisplay", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* .backdrop-gradient::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: clip;
  z-index: -1;
  content: url("/background-gradient-1.png") url("/background-gradient-2.png")
    url("/background-gradient-3.png");
} */

.backdrop-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 40% 100%,
      #002beb 10%,
      #0c1c5a 80%,
      #0c1c5a 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
}

.backdrop-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 40% 100%,
    #002beb 10%,
    #0c1c5a 80%,
    #0c1c5a 100%
  );
  opacity: 0.95;
  mix-blend-mode: multiply;
}

.backdrop-gradient-easyaudit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 10% 10%,
      #00af66 10%,
      #002616 80%,
      #002616 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
}

.backdrop-gradient-easyaudit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 10% 10%,
    #00af66 10%,
    #002616 80%,
    #002616 100%
  );
  opacity: 0.95;
  mix-blend-mode: multiply;
}

.backdrop-gradient-dataflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 10% 10%,
      #af4300 10%,
      #261900 80%,
      #261900 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
}

.backdrop-gradient-dataflow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 10% 10%,
    #af4300 10%,
    #261900 80%,
    #261900 100%
  );
  opacity: 0.95;
  mix-blend-mode: multiply;
}

.backdrop-gradient-kio3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 10% 10%,
      #00afa7 10%,
      #002626 80%,
      #002626 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
}

.backdrop-gradient-kio3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 10% 10%,
    #00afa7 10%,
    #002626 80%,
    #002626 100%
  );
  opacity: 0.95;
  mix-blend-mode: multiply;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc((-3905.59px * 0.5) - 32px));
  }
}

.text-blue-950 {
  color: #0c1c5a;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 228, 75%, 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --text-zoom-initial-opacity: 0;

    --hero-line-1-blur: 50px;
    --hero-line-2-blur: 50px;
    --hero-line-3-blur: 50px;
    --hero-line-4-blur: 50px;

    --gradient-card-1-blur: 100px;
    --gradient-card-2-blur: 100px;
    --gradient-card-3-blur: 100px;

    --gradient-position-x: 90%;
    --gradient-position-y: 20%;
    --gradient-size: 40%;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
